*.pdb
GraphicsHomework/Debug/GraphicsHomework.log
*.pdb
*.obj
GraphicsHomework/Debug/GraphicsHomeworkView.obj
*.exe
*.log
*.lastbuildstate
GraphicsHomework/Debug/GraphicsHomework.log
*.lastbuildstate
GraphicsHomework/Debug/GraphicsHomework.log